 html{
    margin: 0 0;
 }

 p{
    padding-left: 5%;
    padding-right: 5%;
    color: #8f8f8f;
}



















/*title*/

h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;

}

#title{
    background-color: rgb(255, 93, 120);
}

.col-lg-6{
    /* text-align: center; */
    /* padding: 3% ; */
}


.title-image{
    height: 600px;
}

.container-fluid{
    margin-left: 100px;
}

/*features*/

.col-lg-4{
    text-align: center;
    padding: 7% 15%;
    font-family: 'Montserrat', sans-serif;
    width: 20%;
}

